USE [DbTelefonRehber]
GO
/****** Object:  User [YeniKullanıcı]    Script Date: 29.01.2020 16:06:58 ******/
CREATE USER [YeniKullanıcı] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [YeniKullanici]    Script Date: 29.01.2020 16:06:58 ******/
CREATE USER [YeniKullanici] FOR LOGIN [YeniKullanici] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TBL_DEPARTMAN]    Script Date: 29.01.2020 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DEPARTMAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](75) NULL,
 CONSTRAINT [PK_TBL_DEPARTMAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KULLANICI]    Script Date: 29.01.2020 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KULLANICI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICIAD] [nvarchar](50) NOT NULL,
	[SIFRE] [nvarchar](50) NULL,
	[ROLE] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_TBL_KULLANICI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[KULLANICIAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONEL]    Script Date: 29.01.2020 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONEL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMANID] [int] NULL,
	[YONETICIID] [int] NULL,
	[AD] [varchar](65) NULL,
	[SOYAD] [varchar](50) NULL,
	[TELEFON] [nvarchar](15) NULL,
	[MAAS] [smallint] NOT NULL,
	[DOGUMTARIHI] [smalldatetime] NULL,
	[CINSIYET] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_PERSONEL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_DEPARTMAN] ON 

INSERT [dbo].[TBL_DEPARTMAN] ([ID], [AD]) VALUES (1, N'Muhasebe')
INSERT [dbo].[TBL_DEPARTMAN] ([ID], [AD]) VALUES (2, N'Ar-Ge')
INSERT [dbo].[TBL_DEPARTMAN] ([ID], [AD]) VALUES (3, N'Kalite Kontrol')
SET IDENTITY_INSERT [dbo].[TBL_DEPARTMAN] OFF
SET IDENTITY_INSERT [dbo].[TBL_KULLANICI] ON 

INSERT [dbo].[TBL_KULLANICI] ([ID], [KULLANICIAD], [SIFRE], [ROLE]) VALUES (1, N'admin', N'password', N'A')
INSERT [dbo].[TBL_KULLANICI] ([ID], [KULLANICIAD], [SIFRE], [ROLE]) VALUES (2, N'newuser1', N'123', N'Z')
SET IDENTITY_INSERT [dbo].[TBL_KULLANICI] OFF
SET IDENTITY_INSERT [dbo].[TBL_PERSONEL] ON 

INSERT [dbo].[TBL_PERSONEL] ([ID], [DEPARTMANID], [YONETICIID], [AD], [SOYAD], [TELEFON], [MAAS], [DOGUMTARIHI], [CINSIYET]) VALUES (1, 1, 2, N'Orhan', N'Çelik', N'05423125212', 4500, CAST(N'1979-07-19T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[TBL_PERSONEL] ([ID], [DEPARTMANID], [YONETICIID], [AD], [SOYAD], [TELEFON], [MAAS], [DOGUMTARIHI], [CINSIYET]) VALUES (2, 2, NULL, N'Semanur', N'Tepeli', N'05552224433', 5200, CAST(N'1982-04-24T00:00:00' AS SmallDateTime), 0)
INSERT [dbo].[TBL_PERSONEL] ([ID], [DEPARTMANID], [YONETICIID], [AD], [SOYAD], [TELEFON], [MAAS], [DOGUMTARIHI], [CINSIYET]) VALUES (3, 2, 1, N'Mehmet', N'Elibol', N'05554443322', 4500, CAST(N'1985-05-05T00:00:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[TBL_PERSONEL] OFF
ALTER TABLE [dbo].[TBL_PERSONEL] ADD  CONSTRAINT [DF_TBL_PERSONEL_MAAS]  DEFAULT ((0)) FOR [MAAS]
GO
ALTER TABLE [dbo].[TBL_PERSONEL] ADD  CONSTRAINT [DF_TBL_PERSONEL_CINSIYET]  DEFAULT ((1)) FOR [CINSIYET]
GO
ALTER TABLE [dbo].[TBL_PERSONEL]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PERSONEL_TBL_DEPARTMAN] FOREIGN KEY([DEPARTMANID])
REFERENCES [dbo].[TBL_DEPARTMAN] ([ID])
GO
ALTER TABLE [dbo].[TBL_PERSONEL] CHECK CONSTRAINT [FK_TBL_PERSONEL_TBL_DEPARTMAN]
GO
ALTER TABLE [dbo].[TBL_PERSONEL]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PERSONEL_TBL_PERSONEL] FOREIGN KEY([YONETICIID])
REFERENCES [dbo].[TBL_PERSONEL] ([ID])
GO
ALTER TABLE [dbo].[TBL_PERSONEL] CHECK CONSTRAINT [FK_TBL_PERSONEL_TBL_PERSONEL]
GO
